
.nav{
   display: flex;
    width: 94%;
    height: 150px;
    background: rgb(32, 66, 59);
    color: white;
    align-items: center;
    justify-content: flex-end;
    padding: 0 3% 0 3%;
}
.navdiv{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    /* align-items: stretch; */
    justify-content: space-between;
}
.Link{
    /* display: flex; */
    color: white;
    font-size: 35px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    

}
.Link:hover{
    color: yellow;
}

.navsection{
    display: flex;
  align-items: right;
  background-color: rgb(178, 241, 241);
  height: 1000px;
  padding: 0 3% 0 3%;
}
.header{
    font-size: 60px;
    text-transform: uppercase;
    color: rgb(32, 66, 59);
    line-height: 180%;
    margin: 15px 0px 55px 0px;
    
}
.content{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 400;
    color: rgb(32, 66, 59);
}
.btn{
    display: flex;
    width: 350px;
    height: 100px;
    border: 2px solid rgb(32, 66, 59) ;
    background-color: rgb(32, 66, 59);
    border-radius: 20px;
    color: white;
    font-size: 50px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    

}
.login1,.login2{
    width: 400px;
    height: 40px;
    border: 1px solid rgb(32, 66, 59) ;
    background-color: #fff;
    border-radius: 5px;
    color: #000;
    font-size: 16px;
    text-align: left;
    line-height: 120%;
    margin: 10px 0px 10px 0px;
}
.logincontainer{
    display: flex;
    margin-top: 15%;
    align-content: center;
    width: 100%;
    justify-content: center;
}
.loginbtn{
    width: 200px;
    height: 45px;
    border: 3px solid rgb(6, 2, 56);
    background-color: rgb(178, 241, 241);
    border-radius: 16px;
    color: rgb(5, 2, 37);
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
   align-items: center;
}
.contactcontainer{
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.contactpart2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 35%;
    font-size: 40px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(32, 66, 59)  ;
    margin-right: 5px;
}
.fac{
    line-height: 70px;
    padding: 30px 0px 30px 0px;
}
.image{
    width: 70px; 
}
.btnfill{
    display: flex;
    align-items: center;
}