.App, .userdate2 {
    text-align: center;
    padding-top: 40px;
    margin-left: 37%;
    margin-top: 2%;
    margin-bottom: 1%;
    /* padding-left: 2%; */
    border: 2px solid rgb(0, 162, 255);
    border-radius: 10px;
    width: 330px;
    line-height: 10px;
    font-size: 200px;
  }
  
  .mylink, .uname{
  text-decoration: none;
  color: rgb(0, 162, 255);
  }
  .image, .btn{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: aqua;
    color: black;
    font-size: 18px;
    font-weight: bolder;
    border-width: 4px;
  }
.btn:active{
background-color: blue;
color: red;
border-color: red;
}
  